.p-paginator .p-paginator-page{
    margin : 1rem;
    font-family: 'sans-serif';
}

#overlay {
  display: none;
  position: absolute;
  background-color: var(--surface-a);
  border: 1px solid var(--surface-d);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  z-index: 1000;
  margin-top: 1rem;
  border-radius: 4px;
  font-family: var(--font-family);
  color: var(--text-color);
  width: 300px;
}

#fieldCountInput {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid var(--surface-d);
  border-radius: 4px;
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--surface-b);
  margin-top: 0.5rem;
}

#fieldCountInput:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px var(--primary-color-50);
}
.submit-btn{
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  font-family: var(--font-family);
}

.submit-btn:hover {
  background-color: #3033e4;
}